.imagem-carrossel-1 {
    object-fit: cover;
    object-position: 0 70%;
    height: 400px;
}

.imagem-carrossel-2 {
    object-fit: cover;
    height: 400px;
}

.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.color-special {
    color: darkred;
}

.botao-card {
    background-color: darkred;
    color: white;
}

.borda-card {
    border-color: darkred;;
}

.card-imagem {
    object-fit: cover;
    height: 200px;
}

.card-largura {
    max-width: 18rem;
}